<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479684265023-vqi6mc47a15fs7vgl7039n4favukvcdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479684265023-vqi6mc47a15fs7vgl7039n4favukvcdi</string>
	<key>API_KEY</key>
	<string>AIzaSyA_K0sdKFDlYFUX_WGwzPqUfVworkBWslY</string>
	<key>GCM_SENDER_ID</key>
	<string>479684265023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-8b3d4</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-8b3d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479684265023:ios:3c3cfe545e5850961fe48a</string>
</dict>
</plist>